.phrase{
    margin-top: 20px;
}


.phrase button{
    background: transparent;
    border: none;
    font-size: 15px;
    outline: none;
}

.phrase button:hover{
    background: red;
}

.unknown-words{
    height: 80px;
    width: 100%;
    background: cadetblue;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px;
}

.input-and-button input{
    width: 70%;
    height: 40px;
    border-radius: 15px;
    outline: none;
    padding: 0 10px;
}
.input-and-button button{
    height: 40px;
    border-radius: 15px;
    margin-left: 20px;
    outline: none;
}
.word-hightlight{
    background-color: cadetblue!important;
}

.unknown-words-container{
    display: flex;
    flex-direction: column-reverse;
}
.unknown-words{
    position: relative;
}
.unknown-words button{
    position: absolute;
    right: -3px;
    top: -3px;
    border-radius: 50%;
    outline: none;
}