.create-account {
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
  
  .create-account .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .create-account input{
      margin-top: 20px;
  }
  .create-account .inputs-wrapper{
    height: 90%;
  }

  .create-account .styled-buttons button {
    width: 170px;
  }