  
:root {
  font-size: 60%;
  --main-color: #476ef7;
  --secundary-color: #eb648c;
  --grey-color: #eaeef7;
  --white-color: #FFF;
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app
{
  min-height: 100vh;

}

body,
button,
input,
textarea{
    font: 500 1.6rem Poppins;
  }

.app {
  display: flex;
  justify-content: center;
}

.center-container {
  width: 60%;
  max-width: 2000px;
}


@media(min-width: 700px){
  :root{
      font-size: 62.5%;
  }
}