  
:root {
  font-size: 60%;
  --main-color: #db66a2;
  --secundary-color: #281ac8;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app
{
  min-height: 100vh;

}

body,
button,
input,
textarea{
    font: 500 1.6rem Poppins;
  }

.app {
  display: flex;
  justify-content: center;
}

.center-container {
  width: 80%;

}


@media(min-width: 700px){
  :root{
      font-size: 62.5%;
  }
}