header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secundary-color);
    position: relative;
    z-index: 99;

}

.center-container-header {
    width: 60%;
    max-width: 2000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

main{
    padding-top: 30px;
    background: var(--background);
    height: 100%;
    
}

footer{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.main-icon{
    width: 35px;
    height: 35px;
    fill: var(--secundary-color);
    margin-right: 10px;
}

.icon-and-name a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--secundary-color);
    width: fit-content;
}

footer a{
    font-weight: bold;
    color: var(--secundary-color);
    text-decoration: none;
}

.login-and-sign-up{
    display: flex;
    flex-direction: row;
}

.login-and-sign-up a {
    margin-left: 20px;
} 