header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secundary-color);
    position: relative;
    z-index: 99;

}

main{
    padding-top: 30px;
    background: var(--background);
    height: 100%;
    
}

footer{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.main-icon{
    width: 35px;
    height: 35px;
    fill: var(--secundary-color);
    margin-right: 10px;
}

.icon-and-name{
    display: flex;
    align-items: center;
}

footer a{
    font-weight: bold;
    color: var(--secundary-color);
    text-decoration: none;
}