header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secundary-color);

}

main{
    padding-top: 60px;
    background: rgb(59,34,196);
    background: linear-gradient(0deg, rgba(59,34,196,1) 0%, rgba(143,70,178,1) 28%, rgba(220,102,162,1) 90%);
    height: 100%;
    
}