.login {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.login .center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .inputs-wrapper {
  background-color: var(--white-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width:80%;
  height: 80%;
  justify-content: center;
}
.login .inputs-wrapper button{
    width: 150px;
}

.login .inputs-wrapper h1{

margin-bottom: 20px;
}

.login .inputs-wrapper button{
    background: var(--secundary-color);
    color: var(--white-color);
    margin-top: 20px;
}


.login .inputs-wrapper button:hover{
    background: var(--secundary-hover);
  }
  
#pass-input{
    margin-top: 20px;
}


@media(max-width:768px){
    .login input {
        width: 90%;
    }

    .login .inputs-wrapper {
        padding: 30px;
        width: 100%;
    }

  }