.login .inputs-wrapper button{
    width: 150px;
}

.login .inputs-wrapper h1{

margin-bottom: 20px;
}


  
.inputs-wrapper a{
  margin-top: 10px;
  text-decoration: none;
  color: var(--secundary-color);
}

#pass-input{
    margin-top: 20px;
}


