.main-tool .input-and-button {
  width: 100%;
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 15px;
}

.main-tool .styled-buttons button {
  width: 17%;
}

.main-tool .input-and-button h1 {
  margin-bottom: 30px;
  font-size: 20px;
}

.main-tool .input-and-button button {
  color: var(--secundary-color);
  background: var(--white-color);
  border: 2px solid var(--secundary-color);
  margin-left: 3%;
}

.main-tool .input-and-button #try-it-button {
  background: var(--secundary-color);
  color: var(--white-color);
}

.main-tool .input-and-button #try-it-button:hover {
  background: var(--secundary-hover);
}

.main-tool .input-and-button button:hover {
  background: var(--secundary-color);
  color: var(--white-color);
}

.add-to-profile-list {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: var(--secundary-color);
  color: var(--white-color);
  cursor: pointer;
}

.add-to-profile-list:hover {
  background: var(--secundary-hover);
}

@media (max-width: 1281px) {
  .main-tool .input-and-button input {
    width: 100%;
    margin-bottom: 20px;
  }

  .main-tool .input-and-button button {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 5px;
  }
}
