.phrase-wrapper {
  margin-top: 20px;
  background: var(--white-color);
  width: 100%;
  min-height: 100px;
  border-radius: 15px;
  padding: 30px;

}



.phrase-wrapper button {
  background: transparent;
  border: none;
  font-size: 20px;
  outline: none;
  font-weight: bolder;
  padding: 0 7px;
  cursor: pointer;

}

.phrase-wrapper button:hover {
  background: var(--secundary-color);
  color: var(--white-color);
}

.input-and-button{  
  width: 100%;
  background-color: var(--white-color);

  padding: 30px;
  border-radius: 15px;

}

.input-and-button h1 {
  margin-bottom: 30px;
  font-size: 20px;
 
}
.input-and-button input {
  width: 60%;
  height: 50px;
  border-radius: 15px;
  outline: none;
  padding: 0 20px;
  border: none;
  color: var(--secundary-color);
  font-weight: bolder;
  background: var(--background);
  border: 2px solid var(--border-grey);
}

.input-and-button input:focus{
    border: 2px solid var(--secundary-color);
}

.input-and-button button {
  height: 50px;
  width: 17%;
  min-width: 85px;
  border-radius: 15px;
  margin-left: 3%;
  outline: none;
  border: none;
  
  font-weight: bolder;
  color: var(--secundary-color);
  background: var(--white-color);
  border: 2px solid var(--secundary-color);
  cursor: pointer;
}

.input-and-button button:hover {
  background: var(--secundary-color);
  color: var(--white-color);
}

.word-hightlight {
  background-color: var(--secundary-color) !important;
  color: var(--white-color);
}

.unknown-words-container {
  display: flex;
  flex-direction: column-reverse;
}
.unknown-words {
  position: relative;
  font-weight: bolder;
  
 
  width: 100%;
  background: var(--white-color);
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 15px;
  padding: 30px;


}

.unknown-words button {
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 25%;
  outline: none;
  height: 25px;
  width: 25px;
  background: var(--secundary-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
}

@media(max-width:768px){
  .input-and-button input {
    width: 100%;
    margin-bottom: 20px;
  }

  .input-and-button button {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 5px; 
  }


}