.email-recover-input {
  margin-top: 20px;
}

.title-recover {
  margin-bottom: 30px;
}

.button-send {
  width: 150px;
}

.description-forgot-pass {
  margin-bottom: 20px;
}

.forgot-pass .g-inputs-wrapper {
  padding-bottom: 120px;
}

.extra-input{
  margin-top: 20px;
}