.edit-profile-wrapper .p-and-input{
    margin-top: 10px;
    width: 80%;
}

.edit-profile-wrapper .p-and-input  input{
    width: 100%;
}


.edit-profile-wrapper .p-and-input p{
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--secundary-color);
}